/*  TABLE OF CONTENT

01: RESET CSS
02: FONTS
03: BASIC STRUCTURE
04: HEADLINES
05: ASIDE
06: HEADER
07: CONTENT
08: HEATMAP
09: SELECTION DEPT
10: 404
11 : CIRCLECHART;
12 : ABOUT;

*/


/* 01: RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}

/* 02: FONTS */

@font-face {
    font-family: 'clear_sans_thinregular';
    src: url('fonts/clearsans-thin-webfont.eot');
    src: url('fonts/clearsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-thin-webfont.woff') format('woff'),
         url('fonts/clearsans-thin-webfont.ttf') format('truetype'),
         url('fonts/clearsans-thin-webfont.svg#clear_sans_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sansregular';
    src: url('fonts/clearsans-regular-webfont.eot');
    src: url('fonts/clearsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-regular-webfont.woff') format('woff'),
         url('fonts/clearsans-regular-webfont.ttf') format('truetype'),
         url('fonts/clearsans-regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sans_mediumitalic';
    src: url('fonts/clearsans-mediumitalic-webfont.eot');
    src: url('fonts/clearsans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-mediumitalic-webfont.woff') format('woff'),
         url('fonts/clearsans-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/clearsans-mediumitalic-webfont.svg#clear_sans_mediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sansbold_italic';
    src: url('fonts/clearsans-bolditalic-webfont.eot');
    src: url('fonts/clearsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-bolditalic-webfont.woff') format('woff'),
         url('fonts/clearsans-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/clearsans-bolditalic-webfont.svg#clear_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sansbold';
    src: url('fonts/clearsans-bold-webfont.eot');
    src: url('fonts/clearsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-bold-webfont.woff') format('woff'),
         url('fonts/clearsans-bold-webfont.ttf') format('truetype'),
         url('fonts/clearsans-bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sans_mediumregular';
    src: url('fonts/clearsans-medium-webfont.eot');
    src: url('fonts/clearsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-medium-webfont.woff') format('woff'),
         url('fonts/clearsans-medium-webfont.ttf') format('truetype'),
         url('fonts/clearsans-medium-webfont.svg#clear_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sans_lightregular';
    src: url('fonts/clearsans-light-webfont.eot');
    src: url('fonts/clearsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-light-webfont.woff') format('woff'),
         url('fonts/clearsans-light-webfont.ttf') format('truetype'),
         url('fonts/clearsans-light-webfont.svg#clear_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sansitalic';
    src: url('fonts/clearsans-italic-webfont.eot');
    src: url('fonts/clearsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-italic-webfont.woff') format('woff'),
         url('fonts/clearsans-italic-webfont.ttf') format('truetype'),
         url('fonts/clearsans-italic-webfont.svg#clear_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald_bold';
    src: url('fonts/oswald-bold-webfont.eot');
    src: url('fonts/oswald-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald_light';
    src: url('fonts/oswald-bold-webfont.eot');
    src: url('fonts/oswald-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald_italic';
    src: url('fonts/oswald-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* 03: BASIC STRUCTURE */

html,body{
	font-size: 62.5%;
	overflow: hidden;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}

aside.leftPanel{
	float:left;
	width: 100px;
	height: 100%;
	background-color:#404952;
	-webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    left: 0;
	position: absolute;
}
.mainContainer{
	height: 100%;
	width: calc(100% - 100px);
	position: absolute;
	left: 100px;
	-webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
}
.mainContainer.active{
	/* transform: translate(200px,0);
    -webkit-transform: translate(200px,0); 
    -o-transform: translate(200px,0);
    -moz-transform: translate(200px,0); */
    left:300px;
}
.mainContainer.fullSize{
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
}

/* 04: HEADLINES */

aside header h1 a, aside > footer > a{
	height: 100%;
	line-height: 49px;
	width:100%;
	font-family: 'clear_sansbold' , 'verdana', 'sans-serif';
	font-size: 1.25rem;
	text-transform: uppercase;
	text-align: center;
	opacity: 0.5;
	color: #fff !important;
	display: inline-block;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside header h1 a, aside > footer > a {
				line-height: 50px;
			}
		}

aside header h1 a span{
	color: #3c98ff;
}

p{
	font-family: 'clear_sansregular';
	font-size: 1.4rem;
}


/* 05: ASIDE */


aside > header{
	border-bottom: 1px solid #292f35;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside > header {
				background:linear-gradient(0, #292f35, #292f35 50%, transparent 50%) bottom right / 100% 1px no-repeat;
				border: none;
			}
			@-moz-document url-prefix() { 
			  aside > header {
			  	 background: none;
			     border-bottom: 0.5px solid #292f35;
			  }
			}
		}

aside > header, aside > footer{
	background-color: #404952;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 49px;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside > header, aside > footer {
				height: 50px;
			}
		}

aside{
	position: relative;
}

/* aside.leftPanel:hover */
aside.asideActive
{
	width: 300px;
}

aside:before{
	position: absolute;
	content:'';
	top: 0;
	right: 0;
	height: 100%;
	width: 7px;
	z-index: 9;
	background: -webkit-linear-gradient(right, #2d3339 , transparent);
	background: -o-linear-gradient(left, #2d3339, transparent);
	background: -moz-linear-gradient(left, #2d3339, transparent);
	background: linear-gradient(to left, #2d3339 , transparent);
}

aside > footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #4e575f;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside > footer {
				background:linear-gradient(180deg, #4e575f, #4e575f 50%, transparent 50%) top left  / 100% 1px no-repeat;
				border: none;
			}
			@-moz-document url-prefix() { 
			  aside > footer  {
			  	 background: none;
			     border-top: 0.5px solid #4e575f;
			  }
			}
		}

aside .backgroundAside{
	background: url('./img/motif.svg');
	background-size: 0.1rem;
	height: calc(100% - 98px);
	border-bottom: 1px solid #292f35;
	border-top: 1px solid #4e575f;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside .backgroundAside {
				border: none;
				position: relative;
				height: calc(100% - 100px);
			}
			aside .backgroundAside:before {
				background-color: transparent;
				position: absolute;
				top: 0;
				left: 0;
				width: 200%;
				height: 200%;
				border-top: 1px #4e575f solid;
				border-bottom: 1px #292f35 solid;
				content: "";
				transform: scale(0.5);
				-webkit-transform: scale(0.5);
				transform-origin: 0 0;
				-webkit-transform-origin: 0 0;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		}
aside .asideExplain{
	color:#85898d;
	display: block;
	margin: 0 auto;
	opacity: 0.01;
	text-align: center;
	position: absolute;
	top: 120px;
	-webkit-transition: opacity 0.2s ease-in-out 0.4s;
    -moz-transition: opacity 0.2s ease-in-out 0.4s;
    -o-transition: opacity 0.2s ease-in-out 0.4s;
    transition: opacity 0.2s ease-in-out 0.4s;
    padding: 0 40px;
}
.asideExplain.desactive{
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out 
    -moz-transition: opacity 0.2s ease-in-out ;
    -o-transition: opacity 0.2s ease-in-out ;
    transition: opacity 0.2s ease-in-out ;

}
.asideExplain.active{
	opacity: 0.99;
}


aside .choises{
	height: 300px;
	width: 100px;
	position: relative;
	top: calc(50% - 150px);
	display: table;
	  -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
     -ms-transition: width 0.5s ease;
      -o-transition: width 0.5s ease;
         transition: width 0.5s ease;
}

aside .asideActive .choises
{
	width: 100px;
}

aside .choises div.choise{
	height: 50px;
	width: 50px;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	background-color: #404952;
	border-radius: 50%;
	box-shadow: inset 1px 1px #292f35, 1px 1px #4e575f;
	font-family: "oswald_bold";
	font-size: 1.8rem;
	color: #fff;
	text-shadow: 1px 1px #292f35;
}


		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside .choises div.choise {
				font-size: 3.6rem;
				height: 100px;
				width: 100px;
				margin-left: -50px;
				background-color: #404952;
				-webkit-transform: scale(0.5); 
				transform: scale(0.5); 
				border: none;
			}
		}

aside .choises div.currentChoise{
	border: 1px solid #3c98ff;
	box-shadow: none;
	background:url('img/choiseCurrent.png') no-repeat #404952;
	background-size: 40px 40px;
	background-position: center center;
}
aside .choises div.choise:first-of-type{
	top:0;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside .choises div.choise:first-of-type {
				top: -25px;
			}
		}

aside .choises div.choise:last-of-type{
	bottom:0;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside .choises div.choise:last-of-type {
				bottom: -25px;
			}
		}
aside .choises div.choise:first-of-type div{
	height: 100%;
	width: 50px;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	padding: 2px 0px 0px 1px;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside .choises div.choise:first-of-type div {
					height: 100%;
					width: 100px;
					line-height: 100px;
			}
		}

aside .choises span.middleSeparator{
	height: 200px;
	width: 1px;
	position: absolute;
	top: 51px;
	left: 50%;
	margin-left: -1px;
	border-right: 1px solid #4e575f;
	background-color: #292f35;
}

.choise{
	font-size: 3rem;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside .choises span.middleSeparator {
				margin-left: 0;
				border: none;
				background-color: transparent;
				background:
					linear-gradient(90deg, #292f35, #292f35 50%, transparent 50%) top right / 1px 100% no-repeat,
					linear-gradient(-90deg, #4e575f, #4e575f 50%, transparent 50%) bottom left  / 1px 100% no-repeat;
			}
		}

aside form > input, aside h3{
	display: none;
}

aside.asideActive form.selected > input, aside.asideActive h3.selected{
	display: inline-block;
}

aside.asideActive .choises h3{
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25rem;
	position: absolute;
	left: 90px;
	top: 20px;
	font-family: "clear_sansbold";
	text-shadow: 1px 1px 0 #292f35;
}

aside.asideActive .choises h3:nth-of-type(2){
	top: 265px;
}

aside.asideActive .choises form > input{
	position: absolute;
	left: 90px;
	top: 55px;
	width: 147px;
	height: 14px;
	background-color: #404952;
	border-radius: 5px;
	outline: none;
	box-shadow: inset 1px 1px #292f35, 1px 1px #4e575f;
	border: none;
	padding: 14px;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25rem;
}

aside .choises ul{
	display: none;
}
aside.asideActive ul{
	display: block;
}
aside.asideActive .choises form:nth-of-type(2) > input{
	top: 300px;
}
aside .choises ul.searchResults{
	position: absolute;
	left: 103px;
	width: 150px;
	top: 115px;
}
aside .choises ul.searchResults li{
	margin-bottom: 15px;
}
aside .choises ul.searchResults li a{
	font-size: 1.25rem;
	font-family: "clear_sansbold";
	color: #fff;
	opacity: 0.3;
	text-transform: uppercase;
}

/* 06: HEADER */

.mainContainer header > div:first-child{
	height: 50px;
	width: 100%;
	background-color: #3c98ff;
	display: table;
	border-bottom: 1px solid #0078ff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			.mainContainer header > div:first-child {
				border: none;
				background: linear-gradient(0, #404952, #404952 50%, transparent 50%) bottom right / 100% 1px no-repeat;
				background-color: #3c98ff;
			}
			@-moz-document url-prefix() { 
			  .mainContainer header > div:first-child  {
			  	 background-color: #transparent;
			     border-bottom: 0.5px solid #404952;
			  }
			}
		}

.mainContainer header div .navPrev{
	background: url('img/edit.svg') no-repeat center center;
	display: table-cell;
	width: 50px;
	height: 49px;
	background-size: 20px auto;
	text-align: center;
	border-right: 1px solid #0078ff;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			.mainContainer header div .navPrev {
				border: none;
				position: relative;
				height: 48px;
			}

			@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
				.mainContainer header div .navPrev:before {
					background-color: transparent;
					position: absolute;
					top: 0px;
					left: 0px;
					width: 200%;
					height: 200%;
					border-right: 1px #0078ff solid;
					content: "";
					transform: scale(0.5);
					-webkit-transform: scale(0.5);
					transform-origin: 0 0;
					-webkit-transform-origin: 0 0;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}			
			}

			@-moz-document url-prefix() { 
			  .mainContainer header div .navPrev  {
			     border-right: 0.5px solid #0078ff;
			  }
			}
		}

.mainContainer header div .titleContainer{
	display: table-cell;
	vertical-align: middle;
	width: calc(100% - 100px);
	border-left: 1px solid #67afff;
	border-right: 1px solid #0078ff;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			.mainContainer header div .titleContainer {
				border: none;
				position: relative;
			}

			@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
				.mainContainer header div .titleContainer:before {
					background-color: transparent;
					position: absolute;
					top: 0px;
					left: 0px;
					width: 200%;
					height: 200%;
					border-right: 1px #0078ff solid;
					border-left: 1px #67afff solid;
					content: "";
					transform: scale(0.5);
					-webkit-transform: scale(0.5);
					transform-origin: 0 0;
					-webkit-transform-origin: 0 0;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}			
			}

			@-moz-document url-prefix() { 
			  .mainContainer header div .titleContainer  {
			     border-right: 0.5px #0078ff solid;
				 border-left: 0.5px #67afff solid;
			  }
			}
		}

.mainContainer header div .titleContainer h2{
	font-family: 'clear_sansbold';
	font-size: 1.6rem;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.mainContainer header div .fullSize{
	background: url('img/plein_ecran.svg') no-repeat center center;
	display: table-cell;
	width: 50px;
	height: 49px;
	background-size: 20px auto;
	text-align: center;
	border-left: 1px solid #67afff;
}
.mainContainer header div .leaveFullSize{
	background: url('img/taille_de_base.svg') no-repeat center center;
	display: table-cell;
	width: 50px;
	height: 49px;
	background-size: 20px auto;
	text-align: center;
	border-left: 1px solid #67afff;
	display: none;
}
		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			.mainContainer header div .fullSize, .mainContainer header div .leaveFullSize {
				border: none;
				position: relative;
				height: 48px;
			}

			@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
				.mainContainer header div .fullSize:before, .mainContainer header div .leaveFullSize:before {
					background-color: transparent;
					position: absolute;
					top: 0px;
					left: 0px;
					width: 200%;
					height: 200%;
					border-left: 1px #67afff solid;
					content: "";
					transform: scale(0.5);
					-webkit-transform: scale(0.5);
					transform-origin: 0 0;
					-webkit-transform-origin: 0 0;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}		
			}

			@-moz-document url-prefix() { 
			  .mainContainer header div .fullSize  {
			     border-left: 0.5px solid #67afff;
			  }
			}
		}

div.filterContainer{
	background-color: #f1f1f1;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			div.filterContainer {
				border: none;
				background: linear-gradient(0, #cccccc, #cccccc 50%, transparent 50%) bottom right / 100% 1px no-repeat;
				background-color: #f1f1f1;
			}

			@-moz-document url-prefix() { 
			  div.filterContainer  {
			     border-bottom: 0.5px solid #cccccc;
			  }
			}
		}

div.filterContainer nav{
	width: 1185px;
	margin: 0 auto;
	padding-top: 30px;
}

div.filterContainer nav ul li{
	margin-left: 30px;
	background-color: #f9f9f9;
	border-radius: 20px;
	float: left;
	box-shadow: inset 1px 1px #E3E3E3, 1px 1px #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 40px;
	width: 375px;
	-webkit-transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-ms-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
	transition: 0.3s ease all;
	font-family: 'clear_sans_lightregular';
}

div.filterContainer nav ul li:hover{
	background-color: #ffffff;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){

			@-moz-document url-prefix() { 
			  div.filterContainer nav ul li {
			     box-shadow: inset 0.5px 0.5px #c7c7c7, 0.5px 0.5px #ffffff;
			  }
			}
		}

div.filterContainer nav ul li:first-child{
	margin-left: 0;
}

div.filterContainer nav ul li a{
	font-family: inherit;
	font-size: 1.4rem;
	color: #404952;
	line-height: 43px;
	display: inline-block;
	text-align: center;
}

		@-moz-document url-prefix() { 
		    div.filterContainer nav ul li a {
		        line-height: 42px;
		    }
		}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){

			@-moz-document url-prefix() { 
			  div.filterContainer nav ul li a {
			     line-height: 41.5px;
			  }
			}
		}

div.filterContainer nav ul li a:before, div.filterContainer nav ul li a:after{
	content: "";
	width: 30px;
	height: 30px;
	display: inline-block;
	background-size: 30px 30px;
	margin-top: 6px;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){

			@-moz-document url-prefix() { 
			  div.filterContainer nav ul li a:before, div.filterContainer nav ul li a:after {
			     margin-top: 5.5px;
			  }
			}
		}

div.filterContainer nav ul li:first-child a:before{
	background: url("img/donnes.svg");
	float: left;
	margin-left: 7px;
	margin-right: 30.5px;
}

		.activeNav:first-child a:before{
			margin-right: 26.5px !important;
		}


		@-moz-document url-prefix() { 
		  div.filterContainer nav ul li:first-child a:before  {
		  	 margin-right: 31px;
		  }
		}

div.filterContainer nav ul li:first-child a:after{
	background: url("img/departements.svg");
	float: right;
	margin-left: 30.5px;
}

		.activeNav:first-child a:after{
			margin-left: 26.5px !important;
		}

		@-moz-document url-prefix() { 
		  div.filterContainer nav ul li:first-child a:after  {
		  	 margin-left: 31px;
		  }
		}

div.filterContainer nav ul li:nth-child(2) a:before{
	background: url("img/departements.svg");
	float: left;
	margin-left: 7px;
	margin-right: 24px;
}

		.activeNav:nth-child(2) a:before{
			margin-right: 19.5px !important;
		}

		@-moz-document url-prefix() { 
		  div.filterContainer nav ul li:nth-child(2) a:before  {
		  	 margin-right: 24.5px;
		  }
		}

div.filterContainer nav ul li:nth-child(2) a:after{
	background: url("img/secteur_activite.svg");
	float: right;
	margin-left: 24px;
}

		.activeNav:nth-child(2) a:after{
			margin-left: 19.5px !important;
		}

		@-moz-document url-prefix() { 
		  div.filterContainer nav ul li:nth-child(2) a:after  {
		  	 margin-left: 24.5px;
		  }
		}

div.filterContainer nav ul li:last-child a:before{
	background: url("img/donnes.svg");
	float: left;
	margin-left: 7px;
	margin-right: 17px;
}

		.activeNav:last-child a:before{
			margin-right: 12.5px !important;
		}

		@-moz-document url-prefix() { 
		  div.filterContainer nav ul li:last-child a:before  {
		  	 margin-right: 17.5px;
		  }
		}

div.filterContainer nav ul li:last-child  a:after{
	background: url("img/secteur_activite.svg");
	float: right;
	margin-left: 17px;
}

		.activeNav:last-child a:after{
			margin-left: 12.5px !important;
		}

		@-moz-document url-prefix() { 
		  div.filterContainer nav ul li:last-child  a:after  {
		  	 margin-left: 17.5px;
		  }
		}

/* 07: CONTENT */

.content{
	height: calc(100% - 150px);
	width: calc(100% - 10px);
	background: url('img/pageBackground.png') no-repeat center center;
	background-size: cover;
	border-top: 1px solid #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			.content {
				border: none;
				position: relative;
			}

			.content:before {
				background-color: transparent;
				position: absolute;
				top: 0px;
				left: 0px;
				width: 200%;
				height: 0px;
				border-top: 1px #ffffff solid;
				content: "";
				transform: scale(0.5);
				-webkit-transform: scale(0.5);
				transform-origin: 0 0;
				-webkit-transform-origin: 0 0;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}				
		}

.stepUI{
	position: relative;
	height: calc(100% - 150px);
	width: 10px;
	border-left: 1px solid #dddddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			.stepUI{
				border: none;
			}

			.stepUI:before{
				background-color: transparent;
				position: absolute;
				top: 0px;
				left: 0px;
				width: 200%;
				height: 200%;
				border-left: 1px #cccccc solid;
				content: "";
				transform: scale(0.5);
				-webkit-transform: scale(0.5);	
				transform-origin: 0 0;
				-webkit-transform-origin: 0 0;
			}			
		}

.stepUI div{
	height: 33.33%;
	-webkit-transition: 1s ease all;
	-moz-transition: 1s ease all;
	-ms-transition: 1s ease all;
	-o-transition: 1s ease all;
	transition: 1s ease all;
}

.stepUI > div.currentStep{
	background-color: #3c98ff;
}

.page{
	height: calc(100% - 50px);
	position: relative;
	/*width: 1185px;*/
	margin: 0 auto;
}

/*.help{
	position: absolute;
	bottom: 0;
	right: 0;
}

.help a{
	font-family: 'clear_sansbold' , 'verdana', 'sans-serif';
	font-size: 1.4rem;
	color: #3c98ff;
	text-transform: uppercase;
	border: 3px solid #3c98ff;
	border-radius: 5px;
	padding: 5px 7px;
	float: left;
}

.help span{
	font-family: 'clear_sans_lightregular';
	font-size: 1.25rem;
	color: #404952;
	background-color: #f1f1f1;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 7.5px 7px;
	position: relative;
}*/

/* 08: SELECTION DEPT */

.departement {
	cursor: pointer;
	stroke: white;
	stroke-width: 1px;
	fill:#ddd;
	transition:fill .1s ease;
	-ms-transition:fill .1s ease;
	-webkit-transition:fill .1s ease;
	-moz-transition:fill .1s ease;
}
.dept_select {
	fill:#3C98FF;

}
.dept_hover{
	fill:#3C98FF;
}
.text_nom_dept{
	position:absolute;
	font-family: sans-serif;
	font-size: 14px;
	color: #3C98FF;
	border: 1px solid #3C98FF;
	border-radius: 4px;
	padding: 6px 14px;
	background-color: #f1f1f1;
	top:0;
	left:0;
}
.text_nom_dept:before{
	content:"";
	position: absolute;
	bottom: -5px;
	left:50%;
	margin-left: -2px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #f1f1f1;
	z-index: 3;
}
.text_nom_dept:after{
	content:"";
	position: absolute;
	bottom: -6.5px;
	left:50%;
	margin-left: -3px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #3C98FF;
	z-index: 2;
}

.text_nom_dept2{
	position:absolute;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f1f1f1;
	top:0;
	left:0;
}

.text_nom_dept2:before{
	content:"";
	position: absolute;
	bottom: -10px;
	left:50%;
	margin-left: -4px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #f1f1f1;
	z-index: 3;
}
.text_nom_dept2:after{
	content:"";
	position: absolute;
	bottom: -12px;
	left:50%;
	margin-left: -6px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 12px solid #ccc;
	z-index: 2;
}
.text_nom_dept2>h3{
	color:#404952;
	font-size: 1.6rem;
	padding: 10px 20px;
	font-family: "clear_sansbold", 'verdana', 'sans-serif';
}
.text_nom_dept2>hr{
	width: 100%;
	padding: 0;
	margin: 0;
	color: #ccc;
	background-color: #ccc;
	opacity: 0.3;
}
.text_nom_dept2>p{
	color: #3C98FF;
	padding: 18px 40px 20px 40px;
	font-family: "clear_sansbold", 'verdana', 'sans-serif';
	font-size: 3.0rem;
}
#map,#infosDepartements{
	transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;

	transition:all 1s ease;
	-ms-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
}


#containerSecteur{
	transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;

	transition:all 1s ease;
	-ms-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
}
.secteur{
	fill:#f1f1f1;
	stroke:#ddd;
	stroke-width:1px;
}
.secteurHover{
	fill:#3C98FF;
	stroke:#3C98FF;
	cursor: pointer;
}
.secteurHighlight{
	fill:#fff;
}


#svgSecteur{
	z-index: 100;
}
#infosSecteurs{
	position: absolute;
	z-index: 50;
	width:360px;
	height: 100px;
	top:50%;
	left:50%;
	margin-left: -180px;
	/*margin-top: -50px;*/
	text-align: center;
	padding-top: 20px
}
#infosSecteurs input[placeholder]{
	display: inline;
	height:40px;
	text-align: center;

	color:#404952;
	font-family: 'clear_sansbold' , 'verdana', 'sans-serif';
    font-size: 2.0rem;
    background: #f1f1f1;
    border:solid 1px #ddd;
    border-radius: 4px;
    padding: 5px 20px;
}/*
#infosSecteurs input[placeholder]:focus{
	border:solid 1px #aaa;
}*/
#infosSecteurs2>h2{
	display: inline;
	width: inherit;
    
    text-transform: uppercase;

}
#infosSecteurs>p{
	display: block;
	margin-top: 20px;
    color:#64717e;
    font-size: 1.5rem;
    line-height: 2.0rem;
    font-family: 'clear_sansitalic' , 'verdana', 'sans-serif';
}
.none{
    display: none;
}


/* 09: HEATMAP */

.departementHM {
	cursor: pointer;
	stroke: #fff;
	stroke-width: 1px;
	/*fill:url(#pattern1);*/
	/*fill:#ddd;*/
	transition:fill .2s ease;
	-ms-transition:fill .2s ease;
	-webkit-transition:fill .2s ease;
	-moz-transition:fill .2s ease;
}

/*#items>ul{
	display: block;
	overflow: hidden;
	position:relative;
	bottom: 0;
	z-index: 300;
}

.btnChoixHeatMap{
	display: block;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	float: left;
	width:calc(100%/7);
	height:48px;
	font-size: 1.5rem;
	text-align: center;
	cursor: pointer;
	background: #f1f1f1;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-family: "clear_sansregular", 'verdana', 'sans-serif';
	color:#777;
	padding-top: 18px;

	transition:background .2s ease;
	-o-transition:background .2s ease;
	-moz-transition:background .2s ease;
	-webkit-transition:background .2s ease;
}
.btnChoixHeatMap:hover{
	background: white;

	transition:background 0s ease;
	-o-transition:background 0s ease;
	-moz-transition:background 0s ease;
	-webkit-transition:background 0s ease;
}
.activeItem{
	font-family: 'clear_sansbold' , 'verdana', 'sans-serif' !important;
}*/

.choix_categorie{
	position: absolute;
	bottom: 0;
	z-index: 300;
	width: 100%;
	height: 51px;
	display: table;
	table-layout: fixed;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-top: 1px solid #dddddd;
	background-color: #F1F1F1;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){

			@-moz-document url-prefix() { 
				.choix_categorie{
					border-top: 0.5px solid #cccccc;
				}
			}
		}

.choix_categorie a{
	position: relative;
	text-decoration: none;
	display: table-cell;
	border-right: 1px solid #dddddd;
	border-top: 1px solid #ffffff;
	vertical-align: middle;
	text-align: center;
	transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
}

.choix_categorie a:last-of-type {
	border-right: 1px solid transparent;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			.choix_categorie a{
				border: none;
			}	

			@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
				.choix_categorie a:before {
					background-color: transparent;
					position: absolute;
					top: 0;
					left: 0;
					width: 200%;
					height: 0px;
					border-top: 1px solid #ffffff;
					content: "";
					transform: scale(0.5);
					-webkit-transform: scale(0.5);
					transform-origin: 0 0;
					-webkit-transform-origin: 0 0;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}

				.choix_categorie a:after {
					background-color: transparent;
					position: absolute;
					top: 0;
					right: 0;
					width: 0px;
					height: 200%;
					border-right: 1px solid #cccccc;
					content: "";
					transform: scale(0.5);
					-webkit-transform: scale(0.5);
					transform-origin: 0 0;
					-webkit-transform-origin: 0 0;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}

				.choix_categorie a:last-of-type:after {
					border-right: 1px solid transparent;
				}
			}

			@-moz-document url-prefix() { 
				.choix_categorie a{
					border-right: 0.5px solid #cccccc;
					border-top: 0.5px solid #ffffff;
				}
			}
		}

.choix_categorie a:hover{
	background: #f9f9f9;
}

.choix_categorie a p{
	font-family: "clear_sans_lightregular", 'verdana', 'sans-serif';
	font-size: 1.4rem;
	text-shadow: 1px 1px #ffffff;
	color: #404952;
	padding-top: 1px;
}

.activeItem{
	font-family: 'clear_sansbold' , 'verdana', 'sans-serif' !important;
	padding-top: 0px !important;
}


/* 10: 404 */


.page_404, .page_home{
	width: 100%;
	height: 100%;
	background: url("./img/motif_404.png"), url("./img/404.jpg");
	background-size: 2px, cover;
	background-repeat: repeat, no-repeat;
	background-position: top left;
}

.center_404, .center_home{
	width: 800px;
	position: absolute;
	top: 50%;
	*left: 50%;
	*margin-left: -262.5px;
	left: 15%;
	margin-top: -62px;
}

.center_404 h1, .center_home h1{
	color: #3C98FF;
	font-family: 'clear_sansbold' , 'verdana', 'sans-serif';
	font-size: 7rem;
	text-transform: uppercase;
	opacity: 0.9;
	display: inline-block;
	border-right: 1px solid #919aa4;
	padding-right: 35px;
	height: 125px;
	line-height: 120px;
}

.center_404 h1 span, .center_home h1 span{
	color: #FFFFFF;
}

.center_404 h1+p, .center_home h1+p{
	color: #919aa4;
	font-family: 'clear_sansitalic' , 'verdana', 'sans-serif';
	font-size: 1.4rem;
	display: inline-block;
	text-shadow: 1px 1px #303841;
	line-height: 18pt;
	padding-left: 30px;
}

.center_404 h1+p a, .center_home h1+p a{
	color: #919aa4;
	text-decoration: none;
	border-bottom: 1px dotted #919aa4;
}


/* 11 CIRCLECHART */

#circleChart{
	position: relative;
	z-index: 200;
	width: 100%;
	height: 100%;
}

#leGraph{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 900px;
	height: 450px;
	margin-top: -250px;
	margin-left: -450px;
}

.uneBarSecteur{
    cursor: pointer;
    fill-opacity:1.0;

    transition:fill-opacity .2s ease;
	-o-transition:fill-opacity .2s ease;
	-moz-transition:fill-opacity .2s ease;
	-webkit-transition:fill-opacity .2s ease;
}

.uneBarSecteurHover{
	fill-opacity:0.3;
}

#infosSecteurs2{
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 100;
    width: 500px;
    margin-left: -250px;
    text-align: center;
    font-family: sans-serif;
}

#infosSecteurs2>h1{
    color:#0078ff;
    font-size: 4.0rem;
    font-family: 'clear_sansbold' , 'verdana', 'sans-serif';
    margin-bottom: 40px;
}

#nom{
    background: #f1f1f1;
    border:solid 1px #ddd;
    border-radius: 4px;
}

#infosSecteurs2>#nom>h2{
    color:#404952;
    text-transform: uppercase;
    font-family: 'clear_sansbold' , 'verdana', 'sans-serif';
    font-size: 1.5rem;
}

#infosSecteurs2>p{
	display: block;
	margin-top: 40px;
    color:#64717e;
    font-size: 1.4rem;
    font-family: 'clear_sansitalic' , 'verdana', 'sans-serif';
}

.icon_big img{
	width: 150px;
}

/* BIDON */

.activeNav{
	position: relative;
	font-family: 'clear_sansbold' , 'verdana', 'sans-serif' !important;
	-webkit-transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-ms-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
	transition: 0.3s ease all;
}

.activeNav:after{
	background-color: #cccccc;
	border-right: 1px solid #ffffff;
	position: absolute;
	top: 41px;
	left: 50%;
	width: 2px;
	height: 28.5px;
	content: "";
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){

			.activeNav:after{
				height: 57px;
				transform: scale(0.5);
				-webkit-transform: scale(0.5);
				transform-origin: 0 0;
				-webkit-transform-origin: 0 0;
			}
		}

/* 12 ABOUT */

.aboutSection{
	position: relative;
	display: none;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #404952;
	opacity: 0.1;
	 transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
}
.aboutSection h2{
	font-family: 'clear_sansbold' , 'verdana', 'sans-serif';
	font-size: 6.0rem;
	color: #fff;
	top:40%;
	left:50%;
	margin-left: -145px;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	border-bottom: 2px dotted #fff;
	padding-bottom: 20px;
}
.aboutSection p{
	font-family: "clear_sans_lightregular", 'verdana', 'sans-serif';
	font-size: 1.6rem;
	color: #fff;
	width: 600px;
	text-align: center;
	position: absolute;
	top: 55%;
	left: 50%;
	margin-left: -300px;
}
#aboutSection.active{
	opacity: 0.99999999;
	display: block;
}
.aboutSection .closeAbout{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	display: block;
	background:url('img/closeAbout.png') no-repeat;
	background-size: 30px 30px;
}



















