/*  TABLE OF CONTENT

01: RESET CSS
02: FONTS
03: BASIC STRUCTURE
04: HEADLINES
05: ASIDE
06: HEADER
07: CONTENT
08: HEATMAP
09: SELECTION DEPT
10: 404

*/


/* 01: RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}

/* 02: FONTS */

@font-face {
    font-family: 'clear_sans_thinregular';
    src: url('fonts/clearsans-thin-webfont.eot');
    src: url('fonts/clearsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-thin-webfont.woff') format('woff'),
         url('fonts/clearsans-thin-webfont.ttf') format('truetype'),
         url('fonts/clearsans-thin-webfont.svg#clear_sans_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sansregular';
    src: url('fonts/clearsans-regular-webfont.eot');
    src: url('fonts/clearsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-regular-webfont.woff') format('woff'),
         url('fonts/clearsans-regular-webfont.ttf') format('truetype'),
         url('fonts/clearsans-regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sans_mediumitalic';
    src: url('fonts/clearsans-mediumitalic-webfont.eot');
    src: url('fonts/clearsans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-mediumitalic-webfont.woff') format('woff'),
         url('fonts/clearsans-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/clearsans-mediumitalic-webfont.svg#clear_sans_mediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sansbold_italic';
    src: url('fonts/clearsans-bolditalic-webfont.eot');
    src: url('fonts/clearsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-bolditalic-webfont.woff') format('woff'),
         url('fonts/clearsans-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/clearsans-bolditalic-webfont.svg#clear_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sansbold';
    src: url('fonts/clearsans-bold-webfont.eot');
    src: url('fonts/clearsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-bold-webfont.woff') format('woff'),
         url('fonts/clearsans-bold-webfont.ttf') format('truetype'),
         url('fonts/clearsans-bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sans_mediumregular';
    src: url('fonts/clearsans-medium-webfont.eot');
    src: url('fonts/clearsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-medium-webfont.woff') format('woff'),
         url('fonts/clearsans-medium-webfont.ttf') format('truetype'),
         url('fonts/clearsans-medium-webfont.svg#clear_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sans_lightregular';
    src: url('fonts/clearsans-light-webfont.eot');
    src: url('fonts/clearsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-light-webfont.woff') format('woff'),
         url('fonts/clearsans-light-webfont.ttf') format('truetype'),
         url('fonts/clearsans-light-webfont.svg#clear_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'clear_sansitalic';
    src: url('fonts/clearsans-italic-webfont.eot');
    src: url('fonts/clearsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clearsans-italic-webfont.woff') format('woff'),
         url('fonts/clearsans-italic-webfont.ttf') format('truetype'),
         url('fonts/clearsans-italic-webfont.svg#clear_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* 03: BASIC STRUCTURE */

html,body{
	font-size: 62.5%;
	overflow: hidden;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}

aside.leftPanel{
	float:left;
	width: 100px;
	height: 100%;
	background-color:#404952;
	-webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}
.mainContainer{
	height: 100%;
	width: calc(100% - 100px);
	position: absolute;
	left: 100px;
	-webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
}
.mainContainer.active{
	/* transform: translate(200px,0);
    -webkit-transform: translate(200px,0); 
    -o-transform: translate(200px,0);
    -moz-transform: translate(200px,0); */
    left:300px;
}

/* 04: HEADLINES */

aside header h1 a, aside > footer > a{
	height: 100%;
	line-height: 49px;
	width:100%;
	font-family: 'clear_sansbold' , 'verdana', 'sans-serif';
	font-size: 1.25rem;
	text-transform: uppercase;
	text-align: center;
	opacity: 0.4;
	color: #fff !important;
	display: inline-block;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside header h1 a, aside > footer > a {
				line-height: 50px;
			}
		}

aside header h1 a span{
	color: #3c98ff;
}

p{
	font-family: 'clear_sansregular';
	font-size: 1.4rem;
}


/* 05: ASIDE */


aside > header{
	border-bottom: 1px solid #292f35;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside > header {
				background:linear-gradient(0, #292f35, #292f35 50%, transparent 50%) bottom right / 100% 1px no-repeat;
				border: none;
			}
			@-moz-document url-prefix() { 
			  aside > header {
			  	 background: none;
			     border-bottom: 0.5px solid #292f35;
			  }
			}
		}

aside > header, aside > footer{
	background-color: #404952;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 49px;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside > header, aside > footer {
				height: 50px;
			}
		}

aside{
	position: relative;
}

/* aside.leftPanel:hover */
aside.asideActive
{
	width: 300px;
}

aside:before{
	position: absolute;
	content:'';
	top: 0;
	right: 0;
	height: 100%;
	width: 7px;
	z-index: 9;
	background: -webkit-linear-gradient(right, #2d3339 , transparent);
	background: -o-linear-gradient(left, #2d3339, transparent);
	background: -moz-linear-gradient(left, #2d3339, transparent);
	background: linear-gradient(to left, #2d3339 , transparent);
}

aside > footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #4e575f;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside > footer {
				background:linear-gradient(180deg, #4e575f, #4e575f 50%, transparent 50%) top left  / 100% 1px no-repeat;
				border: none;
			}
			@-moz-document url-prefix() { 
			  aside > footer  {
			  	 background: none;
			     border-top: 0.5px solid #4e575f;
			  }
			}
		}

aside .backgroundAside{
	background: url('./img/motif.svg');
	background-size: 0.1rem;
	height: calc(100% - 98px);
	border-bottom: 1px solid #292f35;
	border-top: 1px solid #4e575f;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside .backgroundAside {
				border: none;
				position: relative;
				height: calc(100% - 100px);
			}
			aside .backgroundAside:before {
				background-color: transparent;
				position: absolute;
				top: 0;
				left: 0;
				width: 200%;
				height: 200%;
				border-top: 1px #4e575f solid;
				border-bottom: 1px #292f35 solid;
				content: "";
				transform: scale(0.5);
				-webkit-transform: scale(0.5);
				transform-origin: 0 0;
				-webkit-transform-origin: 0 0;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		}
aside .asideExplain{
	color:#85898d;
	display: block;
	margin: 0 auto;
	opacity: 0.01;
	text-align: center;
	position: absolute;
	top: 120px;
	-webkit-transition: opacity 0.2s ease-in-out 0.4s;
    -moz-transition: opacity 0.2s ease-in-out 0.4s;
    -o-transition: opacity 0.2s ease-in-out 0.4s;
    transition: opacity 0.2s ease-in-out 0.4s;
    padding: 0 40px;
}
.asideExplain.desactive{
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out 
    -moz-transition: opacity 0.2s ease-in-out ;
    -o-transition: opacity 0.2s ease-in-out ;
    transition: opacity 0.2s ease-in-out ;

}
.asideExplain.active{
	opacity: 0.99;
}


aside .choises{
	height: 300px;
	width: 100%;
	position: relative;
	top: calc(50% - 150px);
	display: table;
}

aside .choises span.choise{
	height: 50px;
	width: 50px;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	background-color: #404952;
	border-radius: 50%;
	box-shadow: inset 1px 1px #292f35, 1px 1px #4e575f;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside .choises span.choise {
				height: 100px;
				width: 100px;
				margin-left: -50px;
				background-color: #404952;
				-webkit-transform: scale(0.5); 
				transform: scale(0.5); 
				border: none;
			}
		}

aside .choises span.choise:first-of-type{
	top:0;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside .choises span.choise:first-of-type {
				top: -25px;
			}
		}

aside .choises span.choise:last-of-type{
	bottom:0;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside .choises span.choise:last-of-type {
				bottom: -25px;
			}
		}

aside .choises span.middleSeparator{
	height: 200px;
	width: 1px;
	position: absolute;
	top: 51px;
	left: 50%;
	margin-left: -1px;
	border-right: 1px solid #4e575f;
	background-color: #292f35;
}

.choise{
	font-size: 3rem;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			aside .choises span.middleSeparator {
				margin-left: 0;
				border: none;
				background-color: transparent;
				background:
					linear-gradient(90deg, #292f35, #292f35 50%, transparent 50%) top right / 1px 100% no-repeat,
					linear-gradient(-90deg, #4e575f, #4e575f 50%, transparent 50%) bottom left  / 1px 100% no-repeat;
			}
		}

aside form, aside h3{
	display: none;
}



/* 06: HEADER */

.mainContainer header > div:first-child{
	height: 50px;
	width: 100%;
	background-color: #3c98ff;
	display: table;
	border-bottom: 1px solid #0078ff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			.mainContainer header > div:first-child {
				border: none;
				background: linear-gradient(0, #404952, #404952 50%, transparent 50%) bottom right / 100% 1px no-repeat;
				background-color: #3c98ff;
			}
			@-moz-document url-prefix() { 
			  .mainContainer header > div:first-child  {
			  	 background-color: #transparent;
			     border-bottom: 0.5px solid #404952;
			  }
			}
		}

.mainContainer header div .navPrev{
	background: url('img/edit.svg') no-repeat center center;
	display: table-cell;
	width: 50px;
	height: 49px;
	background-size: 20px auto;
	text-align: center;
	border-right: 1px solid #0078ff;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			.mainContainer header div .navPrev {
				border: none;
				position: relative;
				height: 48px;
			}

			@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
				.mainContainer header div .navPrev:before {
					background-color: transparent;
					position: absolute;
					top: 0px;
					left: 0px;
					width: 200%;
					height: 200%;
					border-right: 1px #0078ff solid;
					content: "";
					transform: scale(0.5);
					-webkit-transform: scale(0.5);
					transform-origin: 0 0;
					-webkit-transform-origin: 0 0;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}			
			}

			@-moz-document url-prefix() { 
			  .mainContainer header div .navPrev  {
			     border-right: 0.5px solid #0078ff;
			  }
			}
		}

.mainContainer header div .titleContainer{
	display: table-cell;
	vertical-align: middle;
	width: calc(100% - 100px);
	border-left: 1px solid #67afff;
	border-right: 1px solid #0078ff;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			.mainContainer header div .titleContainer {
				border: none;
				position: relative;
			}

			@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
				.mainContainer header div .titleContainer:before {
					background-color: transparent;
					position: absolute;
					top: 0px;
					left: 0px;
					width: 200%;
					height: 200%;
					border-right: 1px #0078ff solid;
					border-left: 1px #67afff solid;
					content: "";
					transform: scale(0.5);
					-webkit-transform: scale(0.5);
					transform-origin: 0 0;
					-webkit-transform-origin: 0 0;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}			
			}

			@-moz-document url-prefix() { 
			  .mainContainer header div .titleContainer  {
			     border-right: 0.5px #0078ff solid;
				 border-left: 0.5px #67afff solid;
			  }
			}
		}

.mainContainer header div .titleContainer h2{
	font-family: 'clear_sansbold';
	font-size: 1.6rem;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.mainContainer header div .fullSize{
	background: url('img/plein_ecran.svg') no-repeat center center;
	display: table-cell;
	width: 50px;
	height: 49px;
	background-size: 20px auto;
	text-align: center;
	border-left: 1px solid #67afff;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			.mainContainer header div .fullSize {
				border: none;
				position: relative;
				height: 48px;
			}

			@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
				.mainContainer header div .fullSize:before {
					background-color: transparent;
					position: absolute;
					top: 0px;
					left: 0px;
					width: 200%;
					height: 200%;
					border-left: 1px #67afff solid;
					content: "";
					transform: scale(0.5);
					-webkit-transform: scale(0.5);
					transform-origin: 0 0;
					-webkit-transform-origin: 0 0;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}			
			}

			@-moz-document url-prefix() { 
			  .mainContainer header div .fullSize  {
			     border-left: 0.5px solid #67afff;
			  }
			}
		}

div.filterContainer{
	background-color: #f1f1f1;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			div.filterContainer {
				border: none;
				background: linear-gradient(0, #cccccc, #cccccc 50%, transparent 50%) bottom right / 100% 1px no-repeat;
				background-color: #f1f1f1;
			}

			@-moz-document url-prefix() { 
			  div.filterContainer  {
			     border-bottom: 0.5px solid #cccccc;
			  }
			}
		}

div.filterContainer nav{
	width: 1185px;
	margin: 0 auto;
	padding-top: 30px;
}

div.filterContainer nav ul li{
	margin-left: 30px;
	background-color: #f9f9f9;
	border-radius: 20px;
	float: left;
	box-shadow: inset 1px 1px #c7c7c7, 1px 1px #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 40px;
	width: 375px;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){

			@-moz-document url-prefix() { 
			  div.filterContainer nav ul li {
			     box-shadow: inset 0.5px 0.5px #c7c7c7, 0.5px 0.5px #ffffff;
			  }
			}
		}

div.filterContainer nav ul li:first-child{
	margin-left: 0;
}

div.filterContainer nav ul li a{
	font-family: 'clear_sans_lightregular';
	font-size: 1.4rem;
	color: #404952;
	line-height: 43px;
	display: inline-block;
	text-align: center;
}

		@-moz-document url-prefix() { 
		    div.filterContainer nav ul li a {
		        line-height: 42px;
		    }
		}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){

			@-moz-document url-prefix() { 
			  div.filterContainer nav ul li a {
			     line-height: 41.5px;
			  }
			}
		}

div.filterContainer nav ul li a:before, div.filterContainer nav ul li a:after{
	content: "";
	width: 30px;
	height: 30px;
	display: inline-block;
	background-size: 30px 30px;
	margin-top: 6px;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){

			@-moz-document url-prefix() { 
			  div.filterContainer nav ul li a:before, div.filterContainer nav ul li a:after {
			     margin-top: 5.5px;
			  }
			}
		}

div.filterContainer nav ul li:first-child a:before{
	background: url("img/donnes.svg");
	float: left;
	margin-left: 7px;
	margin-right: 30.5px;
}

		@-moz-document url-prefix() { 
		  div.filterContainer nav ul li:first-child a:before  {
		  	 margin-right: 31px;
		  }
		}

div.filterContainer nav ul li:first-child a:after{
	background: url("img/departements.svg");
	float: right;
	margin-left: 30.5px;
}

		@-moz-document url-prefix() { 
		  div.filterContainer nav ul li:first-child a:after  {
		  	 margin-left: 31px;
		  }
		}

div.filterContainer nav ul li:nth-child(2) a:before{
	background: url("img/departements.svg");
	float: left;
	margin-left: 7px;
	margin-right: 24px;
}

		@-moz-document url-prefix() { 
		  div.filterContainer nav ul li:nth-child(2) a:before  {
		  	 margin-right: 24.5px;
		  }
		}

div.filterContainer nav ul li:nth-child(2) a:after{
	background: url("img/secteur_activite.svg");
	float: right;
	margin-left: 24px;
}

		@-moz-document url-prefix() { 
		  div.filterContainer nav ul li:nth-child(2) a:after  {
		  	 margin-left: 24.5px;
		  }
		}

div.filterContainer nav ul li:last-child a:before{
	background: url("img/donnes.svg");
	float: left;
	margin-left: 7px;
	margin-right: 17px;
}

		@-moz-document url-prefix() { 
		  div.filterContainer nav ul li:last-child a:before  {
		  	 margin-right: 17.5px;
		  }
		}

div.filterContainer nav ul li:last-child  a:after{
	background: url("img/secteur_activite.svg");
	float: right;
	margin-left: 17px;
}

		@-moz-document url-prefix() { 
		  div.filterContainer nav ul li:last-child  a:after  {
		  	 margin-left: 17.5px;
		  }
		}

/* 07: CONTENT */

.content{
	height: calc(100% - 150px);
	background: url('img/pageBackground.png') no-repeat center center;
	background-size: cover;
	border-top: 1px solid #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

		@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx){
			.content {
				border: none;
				position: relative;
			}

			.content:before {
				background-color: transparent;
				position: absolute;
				top: 0px;
				left: 0px;
				width: 200%;
				height: 0px;
				border-top: 1px #ffffff solid;
				content: "";
				transform: scale(0.5);
				-webkit-transform: scale(0.5);
				transform-origin: 0 0;
				-webkit-transform-origin: 0 0;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}				
		}

.page{
	height: calc(100% - 50px);
	position: relative;
	/*width: 1185px;*/
	margin: 0 auto;
}

/*.help{
	position: absolute;
	bottom: 0;
	right: 0;
}

.help a{
	font-family: 'clear_sansbold' , 'verdana', 'sans-serif';
	font-size: 1.4rem;
	color: #3c98ff;
	text-transform: uppercase;
	border: 3px solid #3c98ff;
	border-radius: 5px;
	padding: 5px 7px;
	float: left;
}

.help span{
	font-family: 'clear_sans_lightregular';
	font-size: 1.25rem;
	color: #404952;
	background-color: #f1f1f1;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 7.5px 7px;
	position: relative;
}*/

/* 08: SELECTION DEPT */

.departement {
	cursor: pointer;
	stroke: white;
	stroke-width: 1px;
	fill:#ddd;
	transition:fill .1s ease;
	-ms-transition:fill .1s ease;
	-webkit-transition:fill .1s ease;
	-moz-transition:fill .1s ease;
}
.dept_select {
	fill:#3C98FF;

}
.dept_hover{
	fill:#3C98FF;
}
.text_nom_dept{
	position:absolute;
	font-family: sans-serif;
	font-size: 14px;
	color: #3C98FF;
	border: 1px solid #3C98FF;
	border-radius: 4px;
	padding: 6px 14px;
	background-color: #f1f1f1;
	top:0;
	left:0;
}
.text_nom_dept:before{
	content:"";
	position: absolute;
	bottom: -5px;
	left:50%;
	margin-left: -2px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #f1f1f1;
	z-index: 3;
}
.text_nom_dept:after{
	content:"";
	position: absolute;
	bottom: -6.5px;
	left:50%;
	margin-left: -3px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #3C98FF;
	z-index: 2;
}
#map,#infosDepartements{
	transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;

	transition:all 1s ease;
	-ms-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
}


#containerSecteur{
	transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-webkit-transform-origin:50% 50%;

	transition:all 1s ease;
	-ms-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
}
.secteur{
	fill:#f1f1f1;
	stroke:#ddd;
	stroke-width:1px;
}
.secteurHover{
	fill:#3C98FF;
	stroke:#3C98FF;
	cursor: pointer;
}
.secteurHighlight{
	fill:#fff;
}


#svgSecteur{
	z-index: 100;
}
#infosSecteurs{
	position: absolute;
	z-index: 50;
	width:360px;
	height: 100px;
	top:50%;
	left:50%;
	margin-left: -180px;
	/*margin-top: -50px;*/
	text-align: center;
	padding-top: 20px
}
#infosSecteurs input[placeholder]{
	min-width: 250px;
	max-width: 360px;
	height:40px;
	border:#ddd;
	background: #fafafa;
	text-align: center;
}

.none{
    display: none;
}


/* 09: HEATMAP */

.departementHM {
	cursor: pointer;
	stroke: #fff;
	stroke-width: 1px;
	/*fill:url(#pattern1);*/
	/*fill:#ddd;*/
	transition:fill .2s ease;
	-ms-transition:fill .2s ease;
	-webkit-transition:fill .2s ease;
	-moz-transition:fill .2s ease;
}

#items>ul{
	display: block;
	overflow: hidden;
	position:relative;
	bottom: 0;
	z-index: 300;
}
.btnChoixHeatMap{
	display: block;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	float: left;
	width:calc(100%/7);
	height:48px;
	font-size: 1.5rem;
	text-align: center;
	cursor: pointer;
	background: #f1f1f1;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	font-family: "clear_sansregular";
	color:#777;
	padding-top: 18px;

	transition:background .2s ease;
	-o-transition:background .2s ease;
	-moz-transition:background .2s ease;
	-webkit-transition:background .2s ease;
}
.btnChoixHeatMap:hover{
	background: white;

	transition:background 0s ease;
	-o-transition:background 0s ease;
	-moz-transition:background 0s ease;
	-webkit-transition:background 0s ease;
}
.activeItem{
	font-family: "clear_sansbold" !important;
}

/* 10: 404 */
