{{#if_eq step "A"}}
	{{#if_eq number "3"}} 
		<p id="asideExplain" class="asideExplain">Vous êtes actuellement en train de regarder les données du thème <strong>{{theme}}</strong>, dans le département <strong>{{departement}}</strong>. Vous pouvez changer directement les paramètres ci-dessous.</p>
	{{/if_eq}}
	<div class="choises">
		<div class="choise {{#if_eq number '1'}} currentChoise{{/if_eq}}"><div></div>{{#if_eq number '1'}} {{else}}<img class="iconeSecteur" src="./svg/datas.svg" alt="">{{/if_eq}}</div>
		<h3 class="selected asideTheme">{{#if_eq number "1"}}{{else}}{{theme}}{{/if_eq}}</h3>
		{{#if_eq number "3"}}
			<form class="selected" action="">	
			</form>
		{{/if_eq}}
		<span class="middleSeparator"></span>
		<div class="choise {{#if_eq number '2'}} currentChoise{{/if_eq}}"><div>{{#if_eq number '1'}} {{else}} {{#if_eq number '3'}} {{codeDepartement}} {{/if_eq}} {{/if_eq}} </div></div>
		<h3 class="selected asideDep"> {{#if_eq number "3"}} {{departement}} {{/if_eq}} </h3>
		{{#if_eq number "3"}}
			<form class="selected" action="">	
				<input type="text" name="departement" id="inputDepartement">
				<ul class="bottom searchResults resultDepartement"></ul>
			</form>
		{{/if_eq}}
	</div>
{{/if_eq}}


{{#if_eq step "B"}}
	{{#if_eq number "3"}} 
		<p id="asideExplain" class="asideExplain">Vous êtes actuellement en train de regarder les données du secteur <strong>{{secteur}}</strong>, dans le département <strong>{{departement}}</strong>. Vous pouvez changer directement les paramètres ci-dessous.</p>
	{{/if_eq}}
	<div class="choises">
		<div class="choise {{#if_eq number '1'}} currentChoise{{/if_eq}}"><div> {{#if_eq number '1'}} {{else}} {{codeDepartement}} {{/if_eq}} </div></div>
		<h3 class="selected">{{#if_eq number "1"}} {{else}} {{#if_eq number "2"}} {{departement}} {{/if_eq}} {{#if_eq number "3"}} {{departement}} {{/if_eq}}  {{/if_eq}} </h3>

		{{#if_eq number "3"}}
			<form class="selected" action="">	
				<input type="text" name="departement" id="inputDepartement">
				<ul class="top searchResults resultDepartement"></ul>
			</form>
		{{/if_eq}}
		<span class="middleSeparator"></span>
		<div class="choise {{#if_eq number '2'}} currentChoise{{/if_eq}}"><div></div>{{#if_eq number "3"}}<img class="iconeSecteur" src="{{urlImageSecteur}}" alt="">{{/if_eq}}</div>
		<h3 class="selected">{{#if_eq number "3"}} {{secteur}} {{/if_eq}}</h3>
		{{#if_eq number "3"}} 
			<form class="selected" action="">					
				<input type="text" name="secteur" id="inputSecteur">
				<ul class="bottom searchResults resultSecteur"></ul>
			</form>
		{{/if_eq}}
	</div>
{{/if_eq}}

{{#if_eq step "C"}}
	{{#if_eq number "3"}} 
		<p id="asideExplain" class="asideExplain">Vous êtes actuellement en train de regarder les données du thème <strong>{{theme}}</strong>, dans le secteur <strong>{{secteur}}</strong>. Vous pouvez changer directement les paramètres ci-dessous.</p>
	{{/if_eq}}
	<div class="choises">
		<div class="choise {{#if_eq number '1'}} currentChoise{{/if_eq}}"><div>{{#if_eq number '1'}} {{else}}<img class="iconeSecteur" src="./svg/datas.svg" alt="">{{/if_eq}}</div></div>
		<h3 class="selected">{{#if_eq number '1'}} {{else}} {{theme}} {{/if_eq}}</h3>
		{{#if_eq number "3"}}
			<form class="selected">	
			</form>
		{{/if_eq}}
		<span class="middleSeparator"></span>
		<div class="choise {{#if_eq number '2'}} currentChoise{{/if_eq}}"><div>{{#if_eq number "3"}}<img class="iconeSecteur" src="{{urlImageSecteur}}" alt="">{{/if_eq}}</div></div>
		<h3 class="selected">{{#if_eq number "3"}} {{secteur}} {{/if_eq}}</h3>
		{{#if_eq number "3"}}
			<form class="selected" action="">	
				<input type="text" name="secteur" id="inputSecteur">
				<ul class="bottom searchResults resultSecteur"></ul>
			</form>
		{{/if_eq}}
	</div>
{{/if_eq}}