<div class="emploiBar page">
	<section class="dataBar">
		<div class="containerBar">
			<div class="bar average" data-value="30%" data-number="450000">
				<div class="middle"><span>france : 450 000</span></div>
			</div>
			<div class="bar item" data-value="34%" data-number="500430" data-color="#3c98ff">
				<span></span>
			</div>
		</div>
		<h1>Offres d'emploi</h1>
	</section>

	<section class="dataBar">
		<div class="containerBar">
			<div class="bar average" data-value="47%" data-number="47">
				<div class="middle"><span>france : 47%</span></div>
			</div>
			<div class="bar item" data-value="52%" data-number="52" data-color="#f7c912">
				<span></span>
			</div>
		</div>
		<h1>Pourcentage de femmes</h1>
	</section>

	<section class="dataBar">
		<div class="containerBar">
			<div class="bar average" data-value="40%" data-number="1364837">
				<div class="middle"><span>france : 1 364 837</span></div>
			</div>
			<div class="bar item" data-value="88%" data-number="50000" data-color="#35b751">
				<span></span>
			</div>
		</div>
		<h1>Nombre d'entreprises</h1>
	</section>

	<section class="dataBar">
		<div class="containerBar">
			<div class="bar average" data-value="40%" data-number="1234">
				<div class="middle"><span>france : 1234</span></div>
			</div>
			<div class="bar item" data-value="30%" data-number="1576" data-color="#b089be">
				<span></span>
			</div>
		</div>
		<h1>Salaire moyen</h1>
	</section>

	<section class="dataBar">
		<div class="containerBar">
			<div class="bar average" data-value="40%" data-number="3456654">
				<div class="middle"><span>france : 3456654</span></div>
			</div>
			<div class="bar item" data-value="25%" data-number="4000000" data-color="#e64848">
				<span></span>
			</div>
		</div>
		<h1>Employés</h1>
	</section>
</div> 
<div class="choix_categorie">
	<a href="#/B/{{departement}}/{{secteur}}/emploi"><p class="btnChoixHeatMap {{#if_eq theme "emploi"}}activeItem{{/if_eq}}">Emploi</p></a>
	<a href="#/B/{{departement}}/{{secteur}}/societe"><p class="btnChoixHeatMap {{#if_eq theme "societe"}}activeItem{{/if_eq}}">Société</p></a>
	<a href="#/B/{{departement}}/{{secteur}}/bien-etre"><p class="btnChoixHeatMap {{#if_eq theme "bien-etre"}}activeItem{{/if_eq}}">Bien-être</p></a
</div>