<div class="emploiBar page">
	<div class="grandContainerBar">
	</div>
</div> 
<div class="choix_categorie">
	<a href="#/B/{{departement}}/{{secteur}}/emploi"><p class="btnChoixHeatMap {{#if_eq theme "emploi"}}activeItem{{/if_eq}}">Emploi</p></a>
	<a href="#/B/{{departement}}/{{secteur}}/societe"><p class="btnChoixHeatMap {{#if_eq theme "societe"}}activeItem{{/if_eq}}">Société</p></a>
	<a href="#/B/{{departement}}/{{secteur}}/bienetre"><p class="btnChoixHeatMap {{#if_eq theme "bienetre"}}activeItem{{/if_eq}}">Bien-être</p></a>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=658305037565539&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

var pathname = window.location.pathname;
$('#fbShare').attr('data-href', pathname);
$('#twitterShare').attr('data-href', pathname);
</script>

<div id="fbShare" class="fb-share-button" data-href="https://jobshaker.fr" data-type="button_count"> </div>
<a id="twitterShare" href="https://twitter.com/share" class="twitter-share-button" data-url="http://jobskaker.fr" data-hashtags="jobskaher">Tweet</a>

