<div class="emploiBar page">
	<div class="grandContainerBar">
	</div>
</div> 
<div class="choix_categorie">
	<a href="#/B/{{departement}}/{{secteur}}/emploi"><p class="btnChoixHeatMap {{#if_eq theme "emploi"}}activeItem{{/if_eq}}">Emploi</p></a>
	<a href="#/B/{{departement}}/{{secteur}}/societe"><p class="btnChoixHeatMap {{#if_eq theme "societe"}}activeItem{{/if_eq}}">Société</p></a>
	<a href="#/B/{{departement}}/{{secteur}}/bienetre"><p class="btnChoixHeatMap {{#if_eq theme "bienetre"}}activeItem{{/if_eq}}">Bien-être</p></a
</div>