<div id="circleChart"></div>
<div id="infosSecteurs2">
	<span class="icon_big"></span>
	<h1>Valeur</h1>
	<div id="nom"><h2>Nom du secteur</h2></div>
	<p>Survolez le secteur désiré, ou entrez son nom dans le champ ci-dessus.</p>
</div>

<div class="choix_categorie">
	<a href="#/A/{{donnee}}/{{departement}}/employes"><p class="btnChoixHeatMap {{#if_eq itemA "employes"}}activeItem{{/if_eq}}">Employés</p></a>
	<a href="#/A/{{donnee}}/{{departement}}/salaire-moyen"><p class="btnChoixHeatMap {{#if_eq itemA "salaire-moyen"}}activeItem{{/if_eq}}">Salaire moyen</p></a>
	<a href="#/A/{{donnee}}/{{departement}}/entreprises"><p class="btnChoixHeatMap {{#if_eq itemA "entreprises"}}activeItem{{/if_eq}}">Entreprises</p></a>
	<a href="#/A/{{donnee}}/{{departement}}/creation-entreprises"><p class="btnChoixHeatMap {{#if_eq itemA "creation-entreprises"}}activeItem{{/if_eq}}">Création entreprises</p></a>
	<a href="#/A/{{donnee}}/{{departement}}/parites"><p class="btnChoixHeatMap {{#if_eq itemA "parites"}}activeItem{{/if_eq}}">Parités (H/F)</p></a>
	<a href="#/A/{{donnee}}/{{departement}}/offres-emploi"><p class="btnChoixHeatMap {{#if_eq itemA "offres-emploi"}}activeItem{{/if_eq}}">Offres d'emploi</p></a>
	<a href="#/A/{{donnee}}/{{departement}}/taux-chomage"><p class="btnChoixHeatMap {{#if_eq itemA "taux-chomage"}}activeItem{{/if_eq}}">Taux de chômage</p></a>
</div>

