<div id="circleChart">
</div>
<div id="infosSecteurs2">
	<span class="icon_big"></span>
	<h1>Valeur</h1>
	<div id="nom"><h2>Nom du secteur</h2></div>
	<p>Survolez chaque barre pour afficher les données d'un secteur.</p>
</div>

<div class="choix_categorie">
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=658305037565539&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="fb-share-button" data-href="https://jobshaker.fr" data-type="button_count"> </div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jobskaker.fr" data-hashtags="jobskaher">Tweet</a>

