<div id="circleChart"></div>
<div id="infosSecteurs">
	<span class="icon_big"></span>
	<h1>Valeur</h1>
	<h2>Nom du secteur</h2>
	<p>Survolez le secteur désiré, ou entrez son nom dans le champ ci-dessus.</p>
</div>
<ul>
	<a href="#/A/{{donnee}}/{{departement}}/employes"><li class="btnChoixHeatMap {{#if_eq itemC "employes"}}activeItem{{/if_eq}}">Employés</li></a>
	<a href="#/A/{{donnee}}/{{departement}}/salaire-moyen"><li class="btnChoixHeatMap {{#if_eq itemC "salaire-moyen"}}activeItem{{/if_eq}}">Salaire moyen</li></a>
	<a href="#/A/{{donnee}}/{{departement}}/entreprises"><li class="btnChoixHeatMap {{#if_eq itemC "entreprises"}}activeItem{{/if_eq}}">Entreprises</li></a>
	<a href="#/A/{{donnee}}/{{departement}}/creation-entreprises"><li class="btnChoixHeatMap {{#if_eq itemC "creation-entreprises"}}activeItem{{/if_eq}}">Création entreprises</li></a>
	<a href="#/A/{{donnee}}/{{departement}}/parites"><li class="btnChoixHeatMap {{#if_eq itemC "parites"}}activeItem{{/if_eq}}">Parités (H/F)</li></a>
	<a href="#/A/{{donnee}}/{{departement}}/offres-emploi"><li class="btnChoixHeatMap {{#if_eq itemC "offres-emploi"}}activeItem{{/if_eq}}">Offres d'emploi</li></a>
	<a href="#/A/{{donnee}}/{{departement}}/taux-chomage"><li class="btnChoixHeatMap {{#if_eq itemC "taux-chomage"}}activeItem{{/if_eq}}">Taux de chômage</li></a>
</ul>
