<div class="map page">
	<div id="infosDepartements"></div>
	<div id="map"></div>
</div>

<div class="choix_categorie">
	<a href="#/C/{{donnee}}/{{secteur}}/taux-activite"><p class="btnChoixHeatMap {{#if_eq itemC "taux-activite"}}activeItem{{/if_eq}}">Taux d'activité</p></a>
	<a href="#/C/{{donnee}}/{{secteur}}/logements"><p class="btnChoixHeatMap {{#if_eq itemC "logements"}}activeItem{{/if_eq}}">Logements (nb)</p></a>
	<a href="#/C/{{donnee}}/{{secteur}}/logements-vacants"><p class="btnChoixHeatMap {{#if_eq itemC "logements-vacants"}}activeItem{{/if_eq}}">Logements vacants (nb)</p></a>
	<a href="#/C/{{donnee}}/{{secteur}}/densite-population"><p class="btnChoixHeatMap {{#if_eq itemC "densite-population"}}activeItem{{/if_eq}}">Densité de pop.</p></a>
	<a href="#/C/{{donnee}}/{{secteur}}/retraites"><p class="btnChoixHeatMap {{#if_eq itemC "retraites"}}activeItem{{/if_eq}}">Retraités (nb)</p></a>
	<a href="#/C/{{donnee}}/{{secteur}}/situation-familiale"><p class="btnChoixHeatMap {{#if_eq itemC "situation-familiale"}}activeItem{{/if_eq}}">Situation familiale</p></a>
	<a href="#/C/{{donnee}}/{{secteur}}/scolarises"><p class="btnChoixHeatMap {{#if_eq itemC "scolarises"}}activeItem{{/if_eq}}">Scolarisés (nb)</p></a>
</div>