<header>
<div>
	<a class="navPrev" id="buttonSidebar" href=""></a>
	<div class="titleContainer"><h2></h2></div>
	<a class="fullSize" href=""></a>
</div>
<div class="filterContainer">
	<nav>
		<ul>
			<li {{#if_eq step "A"}}class="activeItem"{{/if_eq}}><a href="#/A">Par jeu de données et par département</a></li>
			<li {{#if_eq step "B"}}class="activeItem"{{/if_eq}}><a href="#/B">Par département et par secteur d’activité</a></li>
			<li {{#if_eq step "C"}}class="activeItem"{{/if_eq}}><a href="#/C">Par jeu de données et par secteur d’activité</a></li>
		</ul>
	</nav>
</div>
</header>
<div class="content">


</div>