<form class="edit-user-form">
	<legend>{{#if this}}Update{{else}}Create{{/if}} user </legend>
	<label>First Name</label>
	<input name="firstname" type="text" value="{{#if this}}{{this.firstname}}{{/if}}">
	<label>Last Name</label>
	<input name="lastname" type="text" value="{{#if this}}{{this.lastname}}{{/if}}">
	<label>Age</label>
	<input name="age" type="text" value="{{#if this}}{{this.age}}{{/if}}">
	<hr />
	{{#if this}}
		<input type="hidden" name="id" value="{{this.id}}">
		<button class="btn btn-danger delete">Delete</button>
	{{/if}}
		<button type="submit" class="btn">{{#if this}}Update{{else}}Create{{/if}}</button>
</form>